body::before{
    display: block;
    content: '';
    height: 70px;
}
@media (max-width: 768) {
    .news-input{
        width:50%;
    }
}

[data-tip]:hover::after{
    content: attr(data-tip);
    background-color: gray;
    color: black;
    font-weight: 700px;
}