         body{background-image: url(https://images.wallpaperscraft.com/image/single/lightning_forest_spruce_179460_5753x2867.jpg);
                color: crimson;
                text-align: center;
            height: 1000px;
                width: 990px;
            }

a:hover{color: darkblue;}
header:hover{font-family: cursive}