<!DOCTYPE html  PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'  'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'><html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>layouts</title>
</head><body><div style="text-align: right"><img src="wireframes possible rows.png"/></div><span style="font-size: 44pt"><div style="text-align: center">Home</div></span><img src="wireframe homepage.png"/><span style="font-size: 44pt"><br/>
</span><span style="font-size: 44pt">WIREFRAMES ARE IMPORTANT<br/>
<img src="side nav.png"/><br/>
<br/>
<br/>
<img src="products.png"/>NEWS CHANNEL CONTENT BOX<br/>
<img src="news layout.png"/><br/>
<br/>
<br/>
product.php line 465: LOAD THE PRODUCTS FORM IMG FOLDER.<br/>
Need to find a way to change the layout of the <br/>
<br/>
https://www.amuse.io/en/pricing/<br/>
<br/>
<br/>
<br/>
<img src="op.png"/><br/>
<br/>
</span><img src="2024-03-27 14_43_11-passport index _ hen.png"/><img src="world map.png"/></body></html>